<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>
    <title>Document</title>
    <link href="chat.css"  rel="stylesheet" type="text/css">
</head>
<style>

</style>
<body>
    
    <div id="app">

        <div class="main">
            <div class="main-title"></div>
            <div class="content" id="message-box">
                <span v-for="item in conList">
                <div class="left-content" v-if="item.sign != 1">
                    <div class="chat-img">
                        {{item.userName}}
                    </div>
                    <div class="conv1">
                        <div>{{item.datetime}}</div>
                        <div class="chat-content">{{item.data}}</div>
                    </div>
                </div>

                <div class="right-content" v-if="item.sign == 1">
                    <div class="con">
                        <div>{{item.datetime}}</div>
                        <div class="chat-contentv1">{{item.data}}</div>
                    </div>
                    <div class="chat-imgv1">
                        {{item.userName}}
                    </div>
                </div>
            </span> 
            </div>
            <div class="inp">
                <textarea type="text" v-model="sendtxt  " class="inp-con">{{sendtxt}}</textarea>
                <button class="btn"  v-on:click="btn">发送</button>
            </div>
        </div>


    </div>

</body>

<script>
var div = document.getElementById('message-box');

div.scrollTop = div.scrollHeight;


var vm = new Vue({
    el: "#app",
    data: {
        conList: [],
        sendtxt: '',
        websocket: ''
    },
    created: function () {
        this.init();
    },
    destroyed: function () {
        this.websocketclose();
    },
    methods: {
        init: function () {
            this.$http.get('http://47.106.107.177:8811/index/index/checkLogin').then(function (res) {
                console.log(res.data)
                if (res.data.static == 1) {
                    this.initWebSocket();
                    $userInfo = res.data.data;
                    let arr = {
                        data: $userInfo,
                        type: 'init'
                    }
                    arr = JSON.stringify(arr);
                    var strCookie = document.cookie;
                    var cookie = strCookie.split("; ");
                    var userId = cookie[2].split("=");
                    var userName = cookie[3].split("=");
                } else {
                    window.location.href = "login.html";

                }
            });
        },
        btn: function (e) {
            this.$nextTick(() => {
                let msg = document.getElementById('message-box') // 获取对象
                msg.scrollTop = msg.scrollHeight // 滚动高度
                console.log(msg.scrollTop);
            })
            if (this.sendtxt == '') {
                alert('发送内容不能为空');
            } else {
                var strCookie = document.cookie;
                var cookie = strCookie.split("; ");

                let arr = {
                    userName:this.getcookie(cookie,'userName'),
                    data: this.sendtxt,
                    sign: 1,
                    type: 'msg',
                    datetime:this.getNowFormatDate()
                }
                this.conList.push(arr);
                arr = JSON.stringify(arr);
                console.log(arr);
                this.websocketsend(arr);
                this.sendtxt = '';

            }

        },
        initWebSocket() {
            const wsuri = 'ws://47.106.107.177:8811/';
            this.websocket = new WebSocket(wsuri);
            this.websocket.onopen = this.websocketonopen;
            this.websocket.onerror = this.websocketonerror;
            this.websocket.onmessage = this.websocketonmessage;
            this.websocket.onclose = this.websocketclose;
        },

        websocketonopen(e) {
            console.log("WebSocket连接成功");
        },
        websocketonerror(e) {
            console.log("WebSocket连接发生错误");
        },
        websocketonmessage(e) {
            const redata = e;
            var data = JSON.parse(redata.data)
            let arr = {
                img: '',
                data: data.msg,
                datetime: data.time,
                userName: data.userName
            };
            this.conList.push(arr);
        },

        websocketsend(agentData) {
            this.websocket.send(agentData);
        },

        websocketclose(e) {
            console.log("connection closed (" + e.code + ")");
        },
        getNowFormatDate() {
            var date = new Date();
            var seperator1 = "-";
            var seperator2 = ":";
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var strDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
                + " " + date.getHours() + seperator2 + date.getMinutes()
                + seperator2 + date.getSeconds();
            return currentdate;
        },
        /* 获取到对应cookie值 */
        getcookie(cookie,name) {
            for (var i = 0; i < cookie.length; i++) {
                var arr = cookie[i].split("=");
                if (arr[0] == name) {
                    return arr[1];
                }
            }
        }

    }



})
</script>
</html>
